.funny-glasses {
    position: relative;
    bottom: 110px;
    left: 213px;
}

.bandana {
    position: absolute;
    top: 180px;
    left: 100px;
}

.pawprint {
    position: fixed;
    top: 3em;
    left: 4em;
    z-index: 2;
}

.luna {
    position: sticky;
    left: 0px;
}

.top-hat {
    z-index: 2;
}